@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --bar-w: 86%; }
@media (min-width: 640px) { :root { --bar-w: 78%; } }
@media (min-width: 768px) { :root { --bar-w: 72%; } }
@media (min-width: 1024px) { :root { --bar-w: 4.75in; } }

body { background-color: theme('colors.offWhite'); color: theme('colors.ink'); }
